language: en_US
update_channel: "stable"
detect_same_system_messages: true
message_format: default
enable_notifications: true
enable_terminal_bell: true
experimental_debug_mode: false
extreme_debug_mode: false
recv_allowed_bytes: 8192
config_ver: 5


networking:
  online_mode: true
  keep_alive: true
  latency_mode: true
  latency_mode_time: 1

autoserver:
  enabled: false
  server_id: 0

server:
  0: 
    name: strawberryfoundations.xyz
    address: 45.131.109.170
    port: 49200
    type: Main
    autologin: false
    compatibility_mode: false # Change to true if you want to connect to servers with v1.8.1 or below
    credentials:
      username: yourname
      password: yourpassword # Warning: This is very insecure
  1: 
    name: localhost
    address: localhost
    port: 8080
    type: Off Topic
  2: 
    name: your.chatserver.com
    address: 0.0.0.0
    port: 8080
    type: Some Type