[package]
name = "strawberry-chat"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.193", features = ["derive"] }
serde_yaml = "0.9.29"
stblib = { version = "0.2.10-2", path = "C:\\Users\\Julian\\Desktop\\stblib-rust" }