<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strawberry Chat</title>
</head>

<style>
    * {
        font-family: "Rubik"
    }

</style>

<body>
    <h1>Strawberry Chat</h1>
    <div id="output"></div>

    <script>
        const eventSource = new EventSource('/updates');
        
        eventSource.onmessage = (event) => {
            const output = document.getElementById('output');
            output.innerHTML += '<p>' + event.data + '</p>';
        };
    </script>
    <form action="" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="message" value="{{request.form.message}}" class="mdl-textfield__input" style="font-family: Rubik" type="text" id="message">
            <input id="send_message" style="background-color: #ed1c28" type="submit" value="Send message">
        </div>
    </form>
</body>
</html>
