server:
  address: "0.0.0.0"
  port: 8080
  name: "Your Chat Server Name"
  description: "Write something about your server"
  edition_key: "somekey"
  update_channel: "stable"
  
flags:
  enable_messages: false
  max_message_length: 256
  debug_mode: true
  online_mode: true

config_ver: 2