server:
  address: "0.0.0.0"
  port: 8080
  name: "Your Chat Server Name"
  description: "Write something about your server"
  edition_key: "somekey"
  update_channel: "canary"
  
flags:
  enable_messages: false
  enable_queue: false
  max_message_length: 256
  max_users: 16
  max_registered_users: 2
  debug_mode: true
  online_mode: true
  admins_wait_queue: true
  bots_wait_queue: true
  special_messages: false

database:
  driver: sqlite              # Available values: sqlite, mysql
  check_same_thread: true     # only for sqlite
  
  host: localhost
  port: 3006
  user: admin
  password: admin
  database_name: data
  database_table: chat_data

security:
  require_signing: false
  signing_key: none
  banned_ips: []


config_ver: 4